<a href="https://colab.research.google.com/github/akulutigowthami/PYTHON/blob/master/DAY10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPS
- while loop
- for loop

In [19]:
# Print  number from  1 to n
# input 10
# output 1 2 3 ... 10 
n =int(input("enter a number :"))
i =1
while i<=n:
  print(i,end = " ")
  i = i+1

enter a number :10
1 2 3 4 5 6 7 8 9 10

In [32]:
# sum of even numbers 
n = int(input("enter a number :"))
i =0
sum =0
while i<=n:
   sum =sum+i 
   i =i+2
   print(sum)

enter a number :10
0
2
6
12
20
30

In [34]:
#  print palindrome number 
# input 123
# output 321
n =int(input("enter a number"))
rem =0
num =0
while n>0:
  rem=n%10
  num=num*10+rem
  n=n//10
print(num)

enter a number123
321

# FUNCTIONAL PROGRAMMING
- simple
- easy to understand
- better reusebility
- lenthy program will be divided into  sub programs

In [0]:
def nameofthefunction(<parameter>):
    statements
    return

In [44]:
# print sum of even numbers
# input 1234
# output (2+4)=6
def sumofevendigits(n):
  s=0
  while n!= 0:
   r = n%10
   if r%2==0:
     s =s+r
   n=n //10
  return s
sumofevendigits(1234)

6

In [46]:
# largest of 3 numbers
# input 4 5 6 
# output 6
def large(n):
 a =0
 b =0
 while n!=0:
  a = b
  b =n%10
  if a>b:
    b=a
  n =n//10
 return b 
large(456)

6

# FOR LOOP

In [0]:
# syntax
for in range(start,stop,step)
  statements

In [48]:
# using function print the numbers between limits
#input :11 25
#output :11 12 13 .......25
def printseries(fn,ln):
   for i in range(fn,ln+1):
     print(i,end=" ")
   return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [53]:
# input :500,520 
# output 500 ,504,508.....520
 def printnumbers(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end =" ")
  return 
printnumbers(500,520)

500 504 508 512 516 520

# collection types 
- List
- Tuple
- Dictionary

# List 
- one of the data structure in python
- Data structure meands to store,sort,search options
- Its one common data structure in python ,the items of list seperated by comma,and enclosed by square brackets
- In list we can change values  
- ex:
- list1 =[1,2,3,4,5]
-list =["JNTUA","DASD","asds"]

In [61]:
li =[1,8,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[::2])

[1, 8, 2, 5, 4]
2
2
[2, 5, 4]
[2, 5]
[2, 5]
[1, 2, 4]

In [68]:
# update list
li = ["JNTUA",8,'ANTPR',5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[3]
print(li)

['JNTUA', 8, 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 5, 4]
['JNTUA', '154', 'ANTPR', 4]

In [72]:
# basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

#list functions
- max
- min
- sum
- append
- insert
- count
- index
- sort
- pop

In [82]:
li = [8,7,3,6,5] 
#li.append(56)
#li.insert(2,56)
#li.count(5)
#index(4)
#li.sort()
li.pop(2)
print(li)

[8, 7, 6, 5]

In [94]:
# by using function return large number from li
def largenumber(li):
  li.sort()
  return li[-1]
def genericlarge(li,n):
  li.sort()
  return li[-n]
li = [13,2,43,74,78,12,35]
print(largenumber(li))
print(genericlarge(li,3))

78
43

In [96]:
#by using function return small number from li
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n]
li = [13,2,43,74,78,12,35]
print(smallnumber(li))
print(genericsmall(li,3))

2
35