<a href="https://colab.research.google.com/github/akulutigowthami/PYTHON/blob/master/Day9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
#### Markdown

**points**

*points*

***Points***

***Ading liks to markdown***

[site](https://www.jntua.ac.in/)

#### Inserting image 

![text](https://www.jntua.ac.in/wp-content/uploads/2018/04/slider02.jpg)

In [2]:
print("hello World")

hello World

In [3]:
print("hello , jntua")
print("hello ,jntua","|||","chemical","|||","cse","|||","mca")

hello , jntua
hello ,jntua ||| chemical ||| cse ||| mca

## Assignment

In [9]:
n1 = 100 # single variable assignment
print(n1)
a = b= c = 10 # multi variable assignment of same value 
print(a,b,c)
a1,b1,c1 = 100,200, 300 # multiple variable assignment with differnt values
print(a1,b1,c1)

100
10 10 10
100 200 300

## Data types and convections 

*int

*float

*string

In [10]:
a=100
s1=10.2
s2="python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [11]:
i = 100
print (type (i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [13]:
# length
a = 123456
print(len(str(a)))

6

##Reading input from user---input function

In [14]:
a = input("enter ur name")
print(a)
print(type(a))

enter ur namesweety
sweety
<class 'str'>

In [15]:
B =int(input("enter ur AGE : "))
print(B)
print(type(B))

enter ur AGE : 21
21
<class 'int'>

# Operators
- Operators is a symbols is used to perform a specific kind of operations

#Arthmetic operators
- -
- +
- *
- %
- //
- /

In [17]:
 a = 1234
 print(a+10)
 print(a-10)
 print(a*10)
 print(a/10)
 print(a%10)
 print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational operator
- =
- ==
- !=
- <
- >
- <=
-  >=

In [18]:
x= 10 
a1 =x > 15
print(a1)

False

# Logical operators
- and
- or 
- not

In [22]:
i = 100
a1 =(i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Controll flow statements
- conditional statements
- looping statements

# If -else statement
## syntax
# if boolen_condition
# statements
# else:
# statements

In [26]:
# to check given number is even or odd
n = int(input("enter a number"))
if n%2 ==0:
     print(n,"is even number")
else:
     print(n,"is odd number")

enter a number38
38 is even number

In [30]:
# to checkgiven number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 ==0 and n%5 ==0:
   print(n,"multiple")
else:
   print(n,"not a multiple")

enter a number15
15 multiple

In [32]:
# check given number is positive ,negetive or zero
n = int(input("enter a number"))
if  n>0:
 print(n,"positive")
elif n<0:
  print(n,"negetive")
else :
  print(n,"zero")

enter a number4
4 positive

In [34]:
# largest number of 3 numbers
X = int(input("enter X"))
Y = int(input("enter Y"))
Z = int(input("enter Z"))
if X>Y and X>Z:
  print(X,"X is greater")
elif Y>X and Y>Z : 
  print(Y,"y is greater")
else:
  print(Z,"z is greater")

enter X5
enter Y7
enter Z8
8 z is greater

In [35]:
# Leap year
n = int(input("enter a year"))
if n%4==0 and n%400==0: 
 print(n,"leap year")
elif n%100!=0:
  print(n,"not a leap year")
else:

enter a year2020
2020 not a leap year