<a href="https://colab.research.google.com/github/akulutigowthami/PYTHON/blob/master/DAY_11(01_02_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLE
- paranthasis() -->tuple and square brackets[]-->list
- difference b/w list and tuple
      - list are mutable -can be changed 
      - list used tp access modify,add,delete
      - tuples are immutable --cannot be changed
      - used to access data

In [4]:
t1 = (1,2,3,4,5,6)
t2 = (1,4,5,6)
print(t1,type(t1))
print(t2,type(t2))

(1, 2, 3, 4, 5, 6) <class 'tuple'>
(1, 4, 5, 6) <class 'tuple'>

# Dictionaries:
1.it works on concept of set unique data

2.Keys,values is the unique identifier for a value

3.Each key is seperated from its values with colon(:)

4.Each key and value is seperated by comma(,)

5.Dictinaries enclod=sed with curly braces{}

In [5]:
d1 = {"name":"jntua","emailid":"jntua@gmail.com","address":"anantapur"}
d1

{'address': 'anantapur', 'emailid': 'jntua@gmail.com', 'name': 'jntua'}

In [6]:
d1.keys()

dict_keys(['name', 'emailid', 'address'])

In [8]:
d1.values()

dict_values(['jntua', 'jntua@gmail.com', 'anantapur'])

In [9]:
d1["name"]

'jntua'

In [10]:
d1 = {"name":"jntua","emailid":"jntua@gmail.com","address":"anantapur"}
d1["emailid"] = "python@gmail.com"
print(d1)

{'name': 'jntua', 'emailid': 'python@gmail.com', 'address': 'anantapur'}

In [11]:
d1['courses'] = "python"
print(d1)

{'name': 'jntua', 'emailid': 'python@gmail.com', 'address': 'anantapur', 'courses': 'python'}

In [12]:
del d1['emailid']
print(d1)

{'name': 'jntua', 'address': 'anantapur', 'courses': 'python'}

# STRINGS:

In [13]:
s1 = "python"
print(s1,type(s1))

python <class 'str'>

In [63]:
s1 = "python"
print(s1[-1])
print(s1[2:])
print(s1[1:5])
print(s1[::-1])
print(s1[-1::-1])
print(s1[(len(s1)//2)])
print(s1[-1:-3:-1])

n
thon
ytho
nohtyp
nohtyp
h
no

In [48]:
# reversing of string using function
def reversestring(str):
  return str[-1::-1]
reversestring("python")

'nohtyp'

In [58]:
#  string is palindrome or not
def palindrom(str):
 if s==s[-1::-1]:
   print("palindrom")
 else:
   print("not palindrom")
palindrom(123)

palindrom